---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAPQUEST_API_KEY&location=chicago
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Apr 2021 16:37:50 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_API_KEY&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=795698231"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Kenosha
        County","adminArea4Type":"County","adminArea3":"WI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=OPENWEATHER_API_KEY&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1619455070,"sunrise":1619434384,"sunset":1619484191,"temp":63.5,"feels_like":61.25,"pressure":1015,"humidity":36,"dew_point":36.1,"uvi":5.36,"clouds":75,"visibility":10000,"wind_speed":14.97,"wind_deg":170,"wind_gust":28.77,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1619455080,"precipitation":0},{"dt":1619455140,"precipitation":0},{"dt":1619455200,"precipitation":0},{"dt":1619455260,"precipitation":0},{"dt":1619455320,"precipitation":0},{"dt":1619455380,"precipitation":0},{"dt":1619455440,"precipitation":0},{"dt":1619455500,"precipitation":0},{"dt":1619455560,"precipitation":0},{"dt":1619455620,"precipitation":0},{"dt":1619455680,"precipitation":0},{"dt":1619455740,"precipitation":0},{"dt":1619455800,"precipitation":0},{"dt":1619455860,"precipitation":0},{"dt":1619455920,"precipitati[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:chicago/salaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/urban_areas/slug:chicago/salaries/"}},"salaries":[{"job":{"id":"ACCOUNT-MANAGER","title":"Account
        Manager"},"salary_percentiles":{"percentile_25":53732.4997858553,"percentile_50":67273.75507905365,"percentile_75":84227.57438186172}},{"job":{"id":"ACCOUNTANT","title":"Accountant"},"salary_percentiles":{"percentile_25":47248.90878754866,"percentile_50":56113.363186966664,"percentile_75":66640.89412753156}},{"job":{"id":"ADMINISTRATIVE-ASSISTANT","title":"Administrative
        Assistant"},"salary_percentiles":{"percentile_25":34905.11247717241,"percentile_50":42036.17141703129,"percentile_75":50624.09435172754}},{"job":{"id":"ARCHITECT","title":"Architect"},"salary_percentiles":{"percentile_25":60760.55104[...]
