---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAPQUEST_API_KEY&location=osdijgfsdgj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Apr 2021 17:19:26 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"osdijgfsdgj"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_API_KEY&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=1026067305"}]}]}'
  recorded_at: Mon, 26 Apr 2021 17:19:26 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=OPENWEATHER_API_KEY&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1619457567,"sunrise":1619437395,"sunset":1619486667,"temp":83.05,"feels_like":81.09,"pressure":999,"humidity":28,"dew_point":46.62,"uvi":6.55,"clouds":15,"visibility":10000,"wind_speed":4,"wind_deg":167,"wind_gust":11.01,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1619457600,"precipitation":0},{"dt":1619457660,"precipitation":0},{"dt":1619457720,"precipitation":0},{"dt":1619457780,"precipitation":0},{"dt":1619457840,"precipitation":0},{"dt":1619457900,"precipitation":0},{"dt":1619457960,"precipitation":0},{"dt":1619458020,"precipitation":0},{"dt":1619458080,"precipitation":0},{"dt":1619458140,"precipitation":0},{"dt":1619458200,"precipitation":0},{"dt":1619458260,"precipitation":0},{"dt":1619458320,"precipitation":0},{"dt":1619458380,"precipitation":0},{"dt":1619458440,"precipitati[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:osdijgfsdgj/salaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status": 404, "message": "Not Found. You have requested this URI
        [/api/public_api/urban_areas/slug:osdijgfsdgj/salaries/] but did you mean
        /api/public_api/urban_areas/<regex(\"slug\\:[0-9a-z-]+\"):urban_area_id>/salaries/
        or /api/public_api/urban_areas/teleport:<regex(\"[0-9a-z]{5}\"):urban_area_id>/salaries/
        or /api/public_api/urban_areas/<regex(\"slug\\:[0-9a-z-]+\"):urban_area_id>/scores/
        ?"}'
  recorded_at: Mon, 26 Apr 2021 17:19:27 GMT
recorded_with: VCR 6.0.0
